<!DOCTYPE html>
<html lang="en-US">
<head>

<link rel="apple-touch-icon" sizes="180x180" href="https://s3.amazonaws.com/hcpss.web.site/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/hcpss.web.site/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/hcpss.web.site/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://s3.amazonaws.com/hcpss.web.site/favicons/manifest.json">
<link rel="mask-icon" href="https://s3.amazonaws.com/hcpss.web.site/favicons/safari-pinned-tab.svg" color="#2762a5">
<meta name="theme-color" content="#ffffff">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<title>{{ page.title }} - HCPSS</title>

<link rel="stylesheet" type='text/css'
  href="https://s3.amazonaws.com/hcpss.web.site/images/normalize.css">
<link rel="stylesheet" type='text/css'
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
  href="https://s3.amazonaws.com/hcpss.web.site/fonts/fira.css" >
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/hcpss.web.site/images/hcpss-2017-05-10b.min.css">

</head>
